In [1]:
import numpy as np
import pandas as pd

In [5]:
data_spray= pd.read_csv('form_spray.csv')
data_pupuk_kocor = pd.read_csv('form_pupuk_kocor.csv')

In [ ]:
data_spray

In [6]:
data_pupuk_kocor

Empty DataFrame
Columns: [tanggal_pengisian, tanggal_pelaksanaan, blok, material, takaran, jumlah_tangki, unit]
Index: []

In [3]:
data_spray.drop(data_spray.index, inplace=True)
data_spray.to_csv('form_spray.csv', index=False)
data_spray

Empty DataFrame
Columns: [tanggal_pengisian, tanggal_pelaksanaan, blok, material, takaran, jumlah_tangki, unit]
Index: []

In [4]:
data_pupuk_kocor.drop(data_pupuk_kocor.index, inplace=True)
data_pupuk_kocor.to_csv('form_pupuk_kocor.csv', index=False)
data_pupuk_kocor

Empty DataFrame
Columns: [tanggal_pengisian, tanggal_pelaksanaan, blok, material, takaran, jumlah_tangki, unit, Material, Takaran, Unit]
Index: []